.fila {
    height: 25vh;
}

.columna {
    border: solid black;
}

.cuadrado {
    cursor: pointer;
    opacity: 0;
    transition: opacity 500ms ease;
}

.oculto {
    display: none;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}

.negro {
    background-color: black;
}

.naranja {
    background-color: orange;
}

.agua {
    background-color: aqua;
}

.rosa {
    background-color: hotpink;
}

.emparejado {
    background-color: gray;
}
